@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    background-color: #f0f0f0;
}