@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #100F13;
}

.block {
    transition: all 1s ease-in-out;

}

.block.fill {
    background-color: #8860eb80;
}

/* 
.marquee {
    white-space: nowrap;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(1.4%);
    }
    100% {
        transform: translateX(-69%);
    }
} */